### Facebook Data

In this lesson, you will be working with data that replicates real world data from Facebook.  To get started, let's look at what directory we are in, and see what files exist in our current directory:

In [1]:
getwd()

[1] "/home/workspace"

In [2]:
list.files()

 [1] "Data Types.ipynb"
 [2] "Facebook Data.ipynb"
 [3] "Functions.ipynb"
 [4] "Iris Dataset.ipynb"
 [5] "Matrix Manipulation.ipynb"
 [6] "pseudo_facebook.tsv"
 [7] "Spacing & Comments.ipynb"
 [8] "Subsets & Indexing.ipynb"
 [9] "Variables & Comparison Operators.ipynb"
[10] "Vectors.ipynb"

You can see all of the notebooks you have worked with throughout this course, as well as the `.tsv` file, which holds the facebook looking data we will be working with in this lesson.  Let's read that data in:

In [3]:
fb = read.csv('pseudo_facebook.tsv', sep='\t')

In [4]:
names(fb)

 [1] "userid"                "age"                   "dob_day"
 [4] "dob_year"              "dob_month"             "gender"
 [7] "tenure"                "friend_count"          "friendships_initiated"
[10] "likes"                 "likes_received"        "mobile_likes"
[13] "mobile_likes_received" "www_likes"             "www_likes_received"

In [5]:
head(fb)

  userid  age dob_day dob_year dob_month gender tenure friend_count
1 2094382 14  19      1999     11        male   266    0
2 1192601 14   2      1999     11        female   6    0
3 2083884 14  16      1999     11        male    13    0
4 1203168 14  25      1999     12        female  93    0
5 1733186 14   4      1999     12        male    82    0
6 1524765 14   1      1999     12        male    15    0
  friendships_initiated likes likes_received mobile_likes mobile_likes_received
1 0                     0     0              0            0
2 0                     0     0              0            0
3 0                     0     0              0            0
4 0                     0     0              0            0
5 0                     0     0              0            0
6 0                     0     0              0            0
  www_likes www_likes_received
1 0         0
2 0         0
3 0         0
4 0         0
5 0         0
6 0         0

In [6]:
dim(fb)

[1] 99003    15

In [7]:
summary(fb)

     userid             age            dob_day         dob_year
 Min.   :1000008   Min.   : 13.00   Min.   : 1.00   Min.   :1900
 1st Qu.:1298806   1st Qu.: 20.00   1st Qu.: 7.00   1st Qu.:1963
 Median :1596148   Median : 28.00   Median :14.00   Median :1985
 Mean   :1597045   Mean   : 37.28   Mean   :14.53   Mean   :1976
 3rd Qu.:1895744   3rd Qu.: 50.00   3rd Qu.:22.00   3rd Qu.:1993
 Max.   :2193542   Max.   :113.00   Max.   :31.00   Max.   :2000

   dob_month         gender          tenure        friend_count
 Min.   : 1.000   female:40254   Min.   :   0.0   Min.   :   0.0
 1st Qu.: 3.000   male  :58574   1st Qu.: 226.0   1st Qu.:  31.0
 Median : 6.000   NA's  :  175   Median : 412.0   Median :  82.0
 Mean   : 6.283                  Mean   : 537.9   Mean   : 196.4
 3rd Qu.: 9.000                  3rd Qu.: 675.0   3rd Qu.: 206.0
 Max.   :12.000                  Max.   :3139.0   Max.   :4923.0
                                 NA's   :2
 friendships_initiated     likes         likes_received      mobile_likes
 Min.   :   0.0        Min.   :    0.0   Min.   :     0.0   Min.   :    0.0
 1st Qu.:  17.0        1st Qu.:    1.0   1st Qu.:     1.0   1st Qu.:    0.0
 Median :  46.0        Median :   11.0   Median :     8.0   Median :    4.0
 Mean   : 107.5        Mean   :  156.1   Mean   :   142.7   Mean   :  106.1
 3rd Qu.: 117.0        3rd Qu.:   81.0   3rd Qu.:    59.0   3rd Qu.:   46.0
 Max.   :4144.0        Max.   :25111.0   Max.   :261197.0   Max.   :25111.0

 mobile_likes_received   www_likes        www_likes_received
 Min.   :     0.00     Min.   :    0.00   Min.   :     0.00
 1st Qu.:     0.00     1st Qu.:    0.00   1st Qu.:     0.00
 Median :     4.00     Median :    0.00   Median :     2.00
 Mean   :    84.12     Mean   :   49.96   Mean   :    58.57
 3rd Qu.:    33.00     3rd Qu.:    7.00   3rd Qu.:    20.00
 Max.   :138561.00     Max.   :14865.00   Max.   :129953.00